.bannerBG {
  background-color: #1B2941;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bannerBBG {
  background-color: #25546E;
  border: 1px solid #1B2941;
}

.bannerPicture {
  text-align: center;
}

.bannerRow {
  margin-top: 15px;
}
.bannerTitle {
  color:white;
  text-align: center;
}

.bannerSubtitle {
  color:white;
  text-align: center;
  margin-top: 10px;
}

.card a {
  text-decoration: none;
}

.card .card-body {
  background-color: #1B2941;
  color: #F2F2F0;
}

.card-title {
  text-align: center;
}


.generalTitle {
  color:white;
  text-align: center;
}

.generalBG {
  background-color: #1B2941;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.horizontal {
    margin: 10px 0;
    height: 1px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #4ba8db));
}

.signUpContainer {
  text-align: center;
  justify-content: center;
}

a .signUpButton {
  background-color: #306f91;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
